// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Dokdo&family=Lato:wght@300;400;700&display=swap");

@import "setup";
@import "variables";
@import "mixins";

// * {
//   border: 1px solid red;
// }

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
}

.outer-wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  max-width: 1400px;
  width: 80%;
  margin: 0 auto;
}

header {
  background: url(../images/home-image-1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
}

.headerContent {
  height: 100%;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1.6rem;
  .logo {
    color: $marigold;
    font-family: $fontDokdo;
    font-size: 4.15rem;
  }
  ul {
    flex: 0 1 500px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    li {
      // margin: 0 10px;
      a {
        padding: 10px;
        font-family: $fontLato;
        text-decoration: none;
        color: $iceBlue;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 2.9rem;
        letter-spacing: 1px;
      }
    }
  }
}

.feature {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  .headings {
    flex: 1 1 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
      margin: 0;
      font-size: 4rem;
    }
  }
  .image {
    position: relative;
    flex: 1 0.25 600px;
    margin-right: 20px;
    filter: sepia(0.6);
  }
  img {
    position: absolute;
    top: 20vh;
  }
}

img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}

h1 {
  @include headingFont(10.5rem, 9.96rem, 10.9px);
  margin: 0;
}

p {
  @include paragraphFont();
  margin: 1rem 0;
}

h2 {
  @include headingFont(4rem, 5.8rem, 4.3px);
}

.newAdventure {
  background: $camoGreen;
  padding: 20vh 0 40px;
  > div {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    .image {
      flex: 0 1 400px;
      position: relative;
      background: $mudGreen;
      margin-right: 20px;
    }
    img {
      position: absolute;
      bottom: 20px;
      left: 20px;
    }
    .text {
      flex: 0 1 800px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
  }
}

.styledLink {
  display: inline-block;
  font-family: $fontDokdo;
  font-size: 3rem;
  padding: 1rem;
  background: $mudGreen;
  color: white;
  text-decoration: none;
}

.gallery-section {
  padding: 50px 0;
  background: $charcoal;
  .gallery {
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }
}

.info {
  background: $camoGreen;
  padding: 50px 0;
  > div {
    display: flex;
    flex-wrap: wrap;
  }
  > div > div {
    margin-left: 60px;
    position: relative;
    flex: 1 1 450px;
  }
  > div > div::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 2.5rem;
    color: white;
    display: inline-block;
    padding: 10px;
    border-radius: 50%;
    background: $mudGreen;
    position: absolute;
    left: -55px;
    top: 5px;
  }
  .customizedOffers::before {
    content: "\f015";
  }
  .community::before {
    content: "\f0c0";
  }
  .blog::before {
    content: "\f15b";
  }
  .getInTouch::before {
    content: "\f095";
  }
}

.programs {
  padding: 0 40px;
  background: $charcoal;
  > div {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    .image {
      flex: 0 1 400px;
      position: relative;
      background: $mudGreen;
      margin-right: 20px;
    }
    img {
      position: absolute;
      bottom: 20px;
      left: 20px;
    }
    .text {
      flex: 0 1 800px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
  }
}
