// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Dokdo&family=Lato:wght@300;400;700&display=swap");

@import "setup";
@import "variables";
@import "mixins";

// * {
//   border: 1px solid red;
// }

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
}

/* Home Styles */
.outerWrapper {
  max-width: 1600px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color: $charcoal;
}

.wrapper {
  max-width: 1400px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

header {
  background-image: url(../images/home-image-1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 80vh;
}

.headerContent {
  height: 100%;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1.6rem;
  position: relative;

  .logo {
    @include logoFont();
  }
  #navLinks {
    flex: 0 1 500px;
    list-style: none;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    li {
      a {
        padding: 10px;
        font-family: $fontLato;
        color: $iceBlue;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 2.9rem;
        letter-spacing: 1px;
      }
      .selected {
        color: $marigold;
      }
    }
  }
  .hamburger {
    @include logoFont();
    height: 0;
    overflow: hidden;
    flex-shrink: 0;
  }
}

.feature {
  flex-grow: 1;
  display: flex;
  max-height: 100%;
  .headings {
    margin-left: 2vw;
    padding: 3rem 0;
    flex: 0 1 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
      margin: 0;
      font-size: 4rem;
    }
  }
  .image {
    position: relative;
    flex: 0 1 800px;
    margin-right: 20px;
    filter: sepia(0.7);
  }
  img {
    position: relative;
    top: 20vh;
  }
}

img {
  max-width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

h1 {
  @include headingFont(11.5rem);
  margin: 0;
}

h2 {
  @include headingFont(4.5rem, 5.8rem, 4.3px);
  margin: 2rem 0;
}

p {
  @include paragraphFont();
  margin: 1.6rem 0;
}

a {
  text-decoration: none;
}

.newAdventure {
  background-color: $camoGreen;
  padding: 20vh 0 3vw;
  .container {
    margin-top: 3vw;
    margin-bottom: 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .image {
      flex-shrink: 0;
      box-shadow: -20px 20px $mudGreen;
      margin-bottom: 20px;
    }
    .text {
      flex: 1 1 800px;
      padding-right: 5vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
  }
}

.styledLink {
  display: inline-block;
  font-family: $fontDokdo;
  font-size: 3rem;
  padding: 1rem;
  background-color: $mudGreen;
  color: $iceBlue;
}

.gallery-section {
  padding: 5vw 0;
  background-color: $charcoal;
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vw;
  }
}

.info {
  background-color: $camoGreen;
  padding: 5vw 0;
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  .offer {
    margin-left: 60px;
    position: relative;
    flex: 1 1 450px;
  }
  .customizedOffers::before,
  .community::before,
  .blog::before,
  .getInTouch::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 2.5rem;
    color: $iceBlue;
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 10px;
    border-radius: 50%;
    background-color: $mudGreen;
    position: absolute;
    left: -55px;
    top: calc(2rem + 5px);
  }
  .customizedOffers::before {
    content: "\f015";
  }
  .community::before {
    content: "\f0c0";
  }
  .blog::before {
    content: "\f15b";
  }
  .getInTouch::before {
    content: "\f095";
  }
}

.programs {
  padding: 50px 0;
  background-color: $charcoal;
  .container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 400px;
    gap: 15%;
    .image {
      position: relative;
    }
    img {
      position: relative;
    }
    .text {
      max-width: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  .container1 {
    .image {
      bottom: 80px;
      margin-right: 20px;
    }
    img {
      box-shadow: 20px 20px $marigold;
    }
    .text {
      margin-right: 10%;
      align-items: flex-start;
    }
  }
  .container2 {
    .image {
      order: 2;
      top: 80px;
      margin-top: 20px;
      margin-right: 20px;
    }
    img {
      box-shadow: -20px 20px $marigold;
      object-position: left;
    }
    .text {
      justify-self: end;
      margin-left: 10%;
      align-items: flex-end;
      text-align: right;
    }
  }
}

.freeTrials {
  padding: 5vw 0;
  background-color: $camoGreen;
  .text {
    padding: 0 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

footer {
  margin: 0;
  background-color: $charcoal;
  p {
    margin: 0;
    text-align: center;
  }
}

/* Blog Styles */
#blog {
  h1 {
    @include headingFont(10.5rem, 6.96rem, 10.9px);
    margin: 2rem 0;
  }

  h3 {
    font-family: $fontDokdo;
    color: $iceBlue;
    font-size: 3rem;
    margin: 1.6rem 0;
    font-weight: 400;
  }

  header {
    background-image: url(../images/blog-image-1.jpg);
    height: 60vh;
    padding-bottom: calc(
      20vh + 1vw
    ); // equal to negative margin of blog post plus the image offset
  }

  .headings {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
  }

  form {
    background-color: $camoGreen;
    margin: 3vw 0;
  }

  input,
  textarea {
    background-color: $camoGreen;
  }

  main {
    p {
      margin: 1.6rem 0;
    }
    position: relative;
    background-color: $camoGreen;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.blogContainer {
  margin-right: 5vw;
  flex: 0 1 1000px;
}

.blogPost {
  position: relative;
  margin-top: -20vh;
  margin-bottom: 2.5vw;
  border-bottom: 5px solid $mudGreen;
  border-right: 5px solid $mudGreen;
  article {
    padding: 5vw 5vw 5vw 10vw;
  }
  .image {
    margin-left: 1vw;
    background-color: $mudGreen;
    position: relative;
  }
  img {
    position: relative;
    left: -1vw;
    top: -1vw;
  }
}

.comments {
  h2 {
    color: $iceBlue;
  }
  padding-left: 10vw;
  .image {
    flex: 0 0 80px;
    height: 80px;
  }
}

.comment {
  margin: 2.5vw 0;
  display: flex;
  h3 {
    margin: 0;
    @include paragraphFont();
    color: $marigold;
  }
  .text {
    padding: 0 3vw;
  }
}

aside {
  background-color: $mudGreen;
  flex: 0 1 500px;
  padding: 0 0 20px 20px;
  margin: calc(50px + 5vw) 0 0 5vw;
  .image {
    position: relative;
  }
  img {
    position: relative;
    top: -20px;
    height: auto;
    object-fit: contain;
  }
  ul {
    padding-left: 40px;
    color: $marigold;
    a {
      @include paragraphFont();
    }
  }
}

/* Contact Styles */
#contact {
  h1 {
    @include headingFont(10.5rem, 6.96rem, 10.9px);
    margin-top: 1px;
  }

  header {
    background-image: url(../images/contact-image-1.jpg);
    height: 60vh;
  }

  .headings {
    align-self: start;
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

  main {
    padding-bottom: 5vw;
    background-color: $camoGreen;
    position: relative;
    .contactMain {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .form {
    flex: 1 1 900px;
    bottom: 5vw;
    background-color: $marigold;
    position: relative;
    margin-left: 25px;
  }

  form {
    background-color: $charcoal;
    position: relative;
    bottom: 25px;
    right: 25px;
    padding: 3vw;
  }

  input,
  textarea {
    background-color: $charcoal;
  }
}

.contactInfo {
  flex: 1 1 300px;
  margin-left: 5vw;
  ul {
    li {
      display: inline-block;
      font-size: 2.5rem;
      margin: 0 10px;
    }
    li:first-child {
      margin-left: 0;
    }
  }
  a {
    color: $marigold;
  }
}

// General Form Styles
form {
  max-width: 100%;
  .nameEmail {
    display: flex;
    input {
      width: 50%;
    }
    input:first-of-type {
      margin-right: 3vw;
    }
  }
  height: 100%;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  fieldset {
    border: 0;
    padding: 0;
  }
  input,
  textarea {
    border: 0;
    color: $iceBlue;
    @include formFont();
    padding-left: 10px;
    min-width: 0;
  }
  input {
    border-bottom: 2px solid $marigold;
    padding-bottom: 3.2rem;
  }
  textarea {
    border: 2px solid $marigold;
    margin: 40px 0;
    padding-top: 3.2rem;
    min-height: 300px;
  }
  button {
    border: 0;
  }
  button:hover,
  button:focus {
    border: 1px solid $marigold;
  }
}

@media (max-width: 1050px) {
  .wrapper {
    width: 90%;
  }
  .feature {
    flex-wrap: wrap;
    .headings {
      order: 1;
    }
    .image {
      order: 2;
      margin: 0;
    }
    img {
      top: 0;
      height: 100%;
    }
  }

  .newAdventure {
    padding-top: 5vw;
  }

  .gallery-section .gallery {
    grid-template-rows: repeat(3, 400px);
    grid-template-columns: 1fr;
    justify-items: center;
    .image:first-child {
      justify-self: start;
    }
    .image:last-child {
      justify-self: end;
    }
  }

  .programs {
    width: 90%;
    margin: 0 auto;
    .container {
      grid-template-columns: 1fr;
      // grid-template-rows: 400px 400px;
      gap: 5vw;
      justify-items: center;
      .text {
        align-items: center;
        text-align: center;
      }
    }
    .container1 {
      .image {
        bottom: 0;
        img {
          margin-right: 20px;
        }
      }
      .text {
        margin-right: 0;
      }
    }
    .container2 {
      .image {
        order: 0;
        top: 0;
        img {
          margin-left: 20px;
        }
      }
      .text {
        margin-left: 0;
        justify-self: inherit;
      }
    }
  }

  .freeTrials {
    text-align: center;
  }

  #blog {
    main {
      flex-direction: column;
    }
    aside {
      margin: 5vw;
      display: flex;
      .image {
        width: 50%;
        margin-right: 5vw;
      }
      img {
        top: 0;
      }
      .text {
        width: 50%;
      }
    }
  }

  article,
  .comments {
    padding-left: 5vw;
  }
}

@media (max-width: 800px) {
  nav {
    // position: relative;
    .hamburger {
      height: auto;
      position: relative;
    }
    #navLinks {
      position: absolute;
      display: block;
      overflow: hidden;
      background-color: $mudGreen;
      text-align: right;
      top: 100%;
      right: 0;
      min-width: 30%;
      height: 0;
    }
  }

  .feature {
    .headings {
      h1 {
        font-size: calc(2.8rem + 11vw);
      }
      p {
        font-size: calc(2rem + 2vw);
      }
      img {
        height: auto;
      }
    }
  }

  .newAdventure {
    .container {
      flex-wrap: wrap;
      justify-content: center;
      .image {
        order: 1;
        flex-shrink: 1;
      }
      .text {
        order: 2;
        padding-right: 0;
        align-items: center;
        text-align: center;
      }
    }
  }

  #blog {
    aside {
      flex-direction: column;
      align-items: center;
      padding-left: 0;
      .image {
        width: 100%;
        margin-right: 0;
      }
      img {
        margin: 0 auto;
      }
      .text {
        width: 100%;
        padding-left: 5vw;
      }
    }
  }

  #contact {
    header {
      height: 50vh;
    }
    .headings {
      text-align: center;
    }
  }
  .contactInfo {
    margin-left: 0;
    display: flex;
    justify-content: space-around;
  }
  .contactMain {
    flex-wrap: wrap;
  }
  .socials {
    margin: 1.6rem 0;
  }
}

@media (max-width: 480px) {
  .info {
    .offer {
      margin-left: 0;
      text-align: center;
      margin-top: 60px;
    }
    .customizedOffers::before,
    .community::before,
    .blog::before,
    .getInTouch::before {
      left: 50%;
      top: -50px;
      transform: translateX(-50%);
    }
  }
  .blogPost article {
    padding: 5vw;
  }
  .comments {
    padding-left: 5vw;
  }
  .comment {
    flex-direction: column;
    padding-left: 0;
    .image {
      align-self: start;
    }
    .text {
      padding: 0;
    }
  }
  .contactInfo {
    flex-wrap: wrap;
    text-align: center;
  }
  form {
    .nameEmail {
      flex-wrap: wrap;
      input {
        width: 100%;
      }
      input:first-of-type {
        margin-right: 0;
      }
    }
  }
}
