// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Dokdo&family=Lato:wght@300;400;700&display=swap");

@import "setup";
@import "variables";
@import "mixins";

// * {
//   border: 1px solid red;
// }

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
}

/* Home Styles */
.outerWrapper {
  max-width: 1600px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color: $charcoal;
}

.wrapper {
  max-width: 1400px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

header {
  background-image: url(../images/home-image-1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
}

.headerContent {
  height: 100%;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1.6rem;
  .logo {
    color: $marigold;
    font-family: $fontDokdo;
    font-size: 4.15rem;
  }
  ul {
    flex: 0 1 500px;
    list-style: none;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    li {
      a {
        padding: 10px;
        font-family: $fontLato;
        color: $iceBlue;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 2.9rem;
        letter-spacing: 1px;
      }
    }
  }
  .selected {
    color: $marigold;
  }
}

.feature {
  flex-grow: 1;
  display: flex;
  .headings {
    flex: 1 1 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
      margin: 0;
      font-size: 4rem;
    }
  }
  .image {
    position: relative;
    flex: 1 0.25 600px;
    margin-right: 20px;
    filter: sepia(0.7);
  }
  img {
    position: absolute;
    top: 20vh;
  }
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

h1 {
  @include headingFont(11.5rem);
  margin: 0;
}

h2 {
  @include headingFont(4.5rem, 5.8rem, 4.3px);
  margin: 2rem 0;
}

p {
  @include paragraphFont();
  margin: 1.6rem 0;
}

a {
  text-decoration: none;
}

.newAdventure {
  background-color: $camoGreen;
  padding: 20vh 0 3vw;
  .container {
    margin-top: 3vw;
    margin-bottom: 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .image {
      flex: 0 0.5 400px;
      box-shadow: -20px 20px $mudGreen;
      margin-bottom: 20px;
    }
    .text {
      flex: 1 1 800px;
      padding-right: 5vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
  }
}

.styledLink {
  display: inline-block;
  font-family: $fontDokdo;
  font-size: 3rem;
  padding: 1rem;
  background-color: $mudGreen;
  color: $iceBlue;
}

.gallery-section {
  padding: 5vw 0;
  background-color: $charcoal;
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vw;
  }
}

.info {
  background-color: $camoGreen;
  padding: 5vw 0;
  > div {
    display: flex;
    flex-wrap: wrap;
  }
  > div > div {
    margin-left: 60px;
    position: relative;
    flex: 1 1 450px;
  }
  > div > div::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 2.5rem;
    color: $iceBlue;
    display: inline-block;
    padding: 10px;
    border-radius: 50%;
    background-color: $mudGreen;
    position: absolute;
    left: -55px;
    top: 5px;
  }
  .customizedOffers::before {
    content: "\f015";
  }
  .community::before {
    content: "\f0c0";
  }
  .blog::before {
    content: "\f15b";
  }
  .getInTouch::before {
    content: "\f095";
  }
}

.programs {
  padding: 50px 0;
  background-color: $charcoal;
  .container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 400px;
    grid-auto-rows: 5vw;
    gap: 15%;
    .image {
      position: relative;
    }
    img {
      position: relative;
    }
    .text {
      max-width: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  .container1 {
    .image {
      bottom: 80px;
    }
    img {
      box-shadow: 20px 20px $marigold;
    }
    .text {
      align-items: flex-start;
    }
  }
  .container2 {
    .image {
      order: 2;
      top: 80px;
    }
    img {
      box-shadow: -20px 20px $marigold;
    }
    .text {
      margin-left: auto;
      align-items: flex-end;
      text-align: right;
    }
  }
}

.freeTrials {
  padding: 10vh 0;
  background-color: $camoGreen;
  .text {
    padding: 0 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

footer {
  margin: 0;
  background-color: $charcoal;
  p {
    margin: 0;
    text-align: center;
  }
}

/* Blog Styles */
#blog {
  h1 {
    @include headingFont(10.5rem, 6.96rem, 10.9px);
  }

  h3 {
    font-family: $fontDokdo;
    color: $iceBlue;
    font-size: 3rem;
    margin: 1.6rem 0;
    font-weight: 400;
  }

  header {
    background-image: url(../images/blog-image-1.jpg);
    height: 60vh;
  }

  form {
    background-color: $camoGreen;
    margin: 3vw 0;
  }

  input,
  textarea {
    background-color: $camoGreen;
  }

  main {
    p {
      margin: 1.6rem 0;
    }
    position: relative;
    background-color: $camoGreen;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.blogContainer {
  margin-right: 5vw;
  flex: 0 1 1000px;
}

.blogPost {
  position: relative;
  margin-top: -20vh;
  margin-bottom: 2.5vw;
  border-bottom: 5px solid $mudGreen;
  border-right: 5px solid $mudGreen;
  article {
    padding: 5vw 5vw 5vw 10vw;
  }
  .image {
    margin-left: 25px;
    background-color: $mudGreen;
    position: relative;
  }
  img {
    position: relative;
    left: -25px;
    top: -25px;
  }
}

.comments {
  h2 {
    color: $iceBlue;
  }
  padding-left: 10vw;
  .image {
    flex: 0 0 80px;
    height: 80px;
  }
}

.comment {
  margin: 2.5vw 0;
  display: flex;
  h3 {
    margin: 0;
    @include paragraphFont();
    color: $marigold;
  }
  .text {
    padding: 0 3vw;
  }
}

aside {
  background-color: $mudGreen;
  flex: 0 1 500px;
  padding: 0 0 20px 20px;
  margin: calc(50px + 5vw) 0 0 5vw;
  .image {
    position: relative;
  }
  img {
    position: relative;
    top: -20px;
    height: auto;
    object-fit: contain;
  }
  ul {
    padding-left: 40px;
    color: $marigold;
    a {
      @include paragraphFont();
    }
  }
}

/* Contact Styles */
#contact {
  h1 {
    @include headingFont(10.5rem, 6.96rem, 10.9px);
    margin-top: 1px;
  }

  header {
    background-image: url(../images/contact-image-1.jpg);
    height: 60vh;
  }

  .headings {
    align-self: start;
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

  main {
    background-color: $camoGreen;
    position: relative;
    section {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .form {
    flex-basis: 900px;
    bottom: 5vw;
    background-color: $marigold;
    position: relative;
  }

  form {
    background-color: $charcoal;
    position: relative;
    bottom: 25px;
    right: 25px;
    padding: 3vw;
  }

  input,
  textarea {
    background-color: $charcoal;
  }
}

.contactInfo {
  flex: 0 0 300px;
  margin-left: 5vw;
  ul {
    li {
      display: inline-block;
      font-size: 2.5rem;
      margin: 0 10px;
    }
    li:first-child {
      margin-left: 0;
    }
  }
  a {
    color: $marigold;
  }
}

// General Form Styles
form {
  .nameEmail {
    display: flex;
    input {
      width: 50%;
    }
    input:first-of-type {
      margin-right: 3vw;
    }
  }
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  input,
  textarea {
    border: 0;
    color: $iceBlue;
    @include formFont();
    padding-left: 10px;
  }
  input {
    border-bottom: 2px solid $marigold;
    padding-bottom: 3.2rem;
  }
  textarea {
    border: 2px solid $marigold;
    margin: 40px 0;
    padding-top: 3.2rem;
  }
  button {
    border: 0;
  }
}
